
@media (max-width: 1000px) {
  .contents-item {
    width: 33%;
    margin-bottom: 50px;
  }
  .picture{
    width:400px;
    height:auto;
  }
}

@media (max-width:670px) {
  .contents-item {
    width: 100%;
  }
  .footer {
    text-align: center;
  }
  .copy-container h2 {
  font-size: 25px;
  text-align:center;
  width: 100%;
　}
  .picture{
    width:250px;
    height:auto;
  }
}
